<comp-tab></comp-tab>

<h1>{{res | json}}</h1>

<button (click)="getUsers()">Get all users</button>
<button (click)="logout()">Log out</button>

<!--LOG IN-->
<div class="signup center-block jumbotron">
  <h1>Log In</h1>
  <form role="form" (submit)="login($event, _email.value, _password.value)" autocomplete="false">
    <div class="form-group">
      <label for="_email">_email</label>
      <input type="text" #_email class="form-control" id="_email" placeholder="_email">
    </div>
    <div class="form-group">
      <label for="_password">_password</label>
      <input type="password" #_password class="form-control" id="_password" placeholder="_password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!-- SIGN UP
<div class="signup center-block jumbotron">
  <h1>Sign up</h1>
  <form role="form" (submit)="signup($event, _email.value, _password.value)">
    <div class="form-group">
      <label for="_email">_email</label>
      <input type="text" #_email class="form-control" id="_email" placeholder="_email">
    </div>
    <div class="form-group">
      <label for="_password">_password</label>
      <input type="password" #_password class="form-control" id="_password" placeholder="_password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
-->

<!--GET User by Id-->
<div class="signup center-block jumbotron">
  <h1>Get user by Id</h1>
  <form role="form" (submit)="getUserById($event, _get_userId.value)">
    <div class="form-group">
      <label for="_get_userId">_get_userId</label>
      <input type="text" #_get_userId class="form-control" id="_get_userId" placeholder="_get_userId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--DELETE User by Id-->
<div class="signup center-block jumbotron">
  <h1>DELETE user by Id</h1>
  <form role="form" (submit)="deleteUserById($event, _delete_userId.value)">
    <div class="form-group">
      <label for="_delete_userId">_delete_userId</label>
      <input type="text" #_delete_userId class="form-control" id="_delete_userId" placeholder="_delete_userId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
