<div class="row">
  <div class="col s12 m6">
    <h4 class="header">Tung's farm</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="./img/farm.jpg" class="responsive-img">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Main product: egg, chickent</p>
          <p>Location: 90130 Helsinki katu3</p>
        </div>
        <div class="card-action">
          <a href="#">Visit Farm</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <h4 class="header">Hang's farm</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="./img/farm2.jpg" class="responsive-img">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Main product: egg, chickent</p>
          <p>Location: 90130 Helsinki katu3</p>
        </div>
        <div class="card-action">
          <a href="#">Visit Farm</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <h4 class="header">Duc's farm</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="./img/farm.jpg" class="responsive-img">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Main product: egg, chickent</p>
          <p>Location: 90130 Helsinki katu3</p>
        </div>
        <div class="card-action">
          <a href="#">Visit Farm</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <h4 class="header">Long's farm</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="./img/farm2.jpg" class="responsive-img">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Main product: egg, chickent</p>
          <p>Location: 90130 Helsinki katu3</p>
        </div>
        <div class="card-action">
          <a href="#">Visit Farm</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <h4 class="header">An's farm</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="./img/farm.jpg" class="responsive-img">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Main product: egg, chickent</p>
          <p>Location: 90130 Helsinki katu3</p>
        </div>
        <div class="card-action">
          <a href="#">Visit Farm</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <h4 class="header">Cuong's farm</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="./img/farm2.jpg" class="responsive-img">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Main product: egg, chickent</p>
          <p>Location: 90130 Helsinki katu3</p>
        </div>
        <div class="card-action">
          <a href="#">Visit Farm</a>
        </div>
      </div>
    </div>
  </div>

</div>
