<h1>{{data | json}}</h1>

<!--POST a type-->
<div class="signup center-block jumbotron">
  <h1>Post new type</h1>
  <form role="form" (submit)="postType($event, _name.value, _desc.value)">
    <div class="form-group">
      <label for="_name">_name</label>
      <input type="text" #_name class="form-control" id="_name" placeholder="_name">
    </div>
    <div class="form-group">
      <label for="_desc">_desc</label>
      <input type="text" #_desc class="form-control" id="_desc" placeholder="_desc">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--GET all type-->
<button (click)="getTypes()">Get all types</button>
<!--GET type by Id-->
<div class="signup center-block jumbotron">
  <h1>Get type by Id</h1>
  <form role="form" (submit)="getTypeById($event, _typeId.value)">
    <div class="form-group">
      <label for="_typeId">_typeId</label>
      <input type="text" #_typeId class="form-control" id="_typeId" placeholder="_typeId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--EDIT type by Id-->
<div class="signup center-block jumbotron">
  <h1>Post new type</h1>
  <form role="form" (submit)="editTypeById($event, _typeId.value, _name.value, _desc.value)">
    <div class="form-group">
      <label for="_typeId">_typeId</label>
      <input type="text" #_typeId class="form-control" id="_typeId" placeholder="_typeId">
    </div>
    <div class="form-group">
      <label for="_name">_name</label>
      <input type="text" #_name class="form-control" id="_name" placeholder="_name">
    </div>
    <div class="form-group">
      <label for="_desc">_desc</label>
      <input type="text" #_desc class="form-control" id="_desc" placeholder="_desc">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--DELETE type by Id-->
<div class="signup center-block jumbotron">
  <h1>Delete type by Id</h1>
  <form role="form" (submit)="deleteTypeById($event, _typeId.value)">
    <div class="form-group">
      <label for="_typeId">_typeId</label>
      <input type="text" #_typeId class="form-control" id="_typeId" placeholder="_typeId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>