<!--GET all product-->
<button class="green darken-2 btn" (click)="getProducts()">Get all product</button>

<!--   <tr>
    <td>id</td>
    <td>user_id</td>
    <td>type_id</td>
    <td>pic</td>
    <td></td>
  </tr> -->
  <div class="row">
  <div class="col m4" *ngFor="let item of data">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" [src]="item.image" >
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Product Name<i class="material-icons right">more_vert</i></span>
        <button class="green btn" (click)="addToCart($event, item._id)">Add to cart</button>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
        <td>{{item._id}}</td>
        <td>{{item.user_id}}</td>
        <td>{{item.type_id}}</td>
      </div>
    </div>
  </div>
  </div>

<!--
  <table>
  <tr *ngFor="let item of data">
    <td>{{item._id}}</td>
    <td>{{item.user_id}}</td>
    <td>{{item.type_id}}</td>
    <td><img [src]="item.image" /></td>
    <td><button (click)="addToCart($event, item._id)">Add to cart</button></td>
  </tr>
</table> -->
<!--<h1>{{data.name | json}}</h1>-->


