<h1>{{res | json}}</h1>


<button (click)="getProducts()">Get all product</button>

<!--GET product by Type-->
<div class="signup center-block jumbotron">
  <h1>Get product by Type</h1>
  <form role="form" (submit)="getProductsByType($event, typeId.value)">
    <div class="form-group">
      <label for="typeId">typeId</label>
      <input type="text" #typeId class="form-control" id="typeId" placeholder="typeId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--GET product by Id-->
<div class="signup center-block jumbotron">
  <h1>Get product by Id</h1>
  <form role="form" (submit)="getProductById($event, productId.value)">
    <div class="form-group">
      <label for="productId">productId</label>
      <input type="text" #productId class="form-control" id="productId" placeholder="productId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>


<!--POST NEW product-->
<div class="signup center-block jumbotron">
  <h1>Post new products</h1>
  <form role="form" (submit)="postProducts($event, userId.value, typeId.value, name.value, desc.value, price.value)">
    <div class="form-group">
      <label for="userId">userId</label>
      <input type="text" #userId class="form-control" id="userId" placeholder="userId">
    </div>
    <div class="form-group">
      <label for="typeId">typeId</label>
      <input type="text" #typeId class="form-control" id="typeId" placeholder="typeId">
    </div>
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" #name class="form-control" id="name" placeholder="name">
    </div>
    <div class="form-group">
      <label for="desc">desc</label>
      <input type="text" #desc class="form-control" id="desc" placeholder="desc">
    </div>
    <div class="form-group">
      <label for="price">price</label>
      <input type="text" #price class="form-control" id="price" placeholder="price">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
