<h1>{{data | json}}</h1>
<h2>Admin Panel: Create post to sell products</h2>
<!--Create post with productId-->
<div class="signup center-block jumbotron">
  <h1>Post new products</h1>
  <form role="form" (submit)="createPostByProductid($event, _productId.value, _phone.value, _address.value, _other.value)">
    <div class="form-group">
      <label for="_productId">_productId</label>
      <input type="text" #_productId class="form-control" id="_productId" placeholder="_productId">
    </div>
    <div class="form-group">
      <label for="_phone">_phone</label>
      <input type="text" #_phone class="form-control" id="_phone" placeholder="_phone">
    </div>
    <div class="form-group">
      <label for="_address">_address</label>
      <input type="text" #_address class="form-control" id="_address" placeholder="_address">
    </div>
    <div class="form-group">
      <label for="_other">_other</label>
      <input type="text" #_other class="form-control" id="_other" placeholder="_other">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--GET posts with productId-->
<div class="signup center-block jumbotron">
  <h1>Get posts by productId</h1>
  <form role="form" (submit)="getPostsByProductId($event, _productId.value)">
    <div class="form-group">
      <label for="_productId">_productId</label>
      <input type="text" #_productId class="form-control" id="_productId" placeholder="_productId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--DELETE posts by productId-->
<div class="signup center-block jumbotron">
  <h1>Get posts by productId</h1>
  <form role="form" (submit)="deletePostsByProductId($event, _productId.value)">
    <div class="form-group">
      <label for="_productId">_productId</label>
      <input type="text" #_productId class="form-control" id="_productId" placeholder="_productId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!-- GET all posts-->
<button (click)="getPosts()">Get all posts</button>
<!--DELETE all posts-->
<button (click)="deletePosts()">Delete all posts</button>

<!--GET post by Id-->
<div class="signup center-block jumbotron">
  <h1>Get post by Id</h1>
  <form role="form" (submit)="getPostById($event, _postId.value)">
    <div class="form-group">
      <label for="_postId">_postId</label>
      <input type="text" #_postId class="form-control" id="_postId" placeholder="_postId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--EDIT post by id-->
<div class="signup center-block jumbotron">
  <h1>Edit post by Id</h1>
  <form role="form" (submit)="editPostById($event, _postId.value, _phone.value, _address.value, _other.value)">
    <div class="form-group">
      <label for="_postId">_postId</label>
      <input type="text" #_postId class="form-control" id="_postId" placeholder="_postId">
    </div>
    <div class="form-group">
      <label for="_phone">_phone</label>
      <input type="text" #_phone class="form-control" id="_phone" placeholder="_phone">
    </div>
    <div class="form-group">
      <label for="_address">_address</label>
      <input type="text" #_address class="form-control" id="_address" placeholder="_address">
    </div>
    <div class="form-group">
      <label for="_other">_other</label>
      <input type="text" #_other class="form-control" id="_other" placeholder="_other">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<!--DELETE post by Id-->
<div class="signup center-block jumbotron">
  <h1>Delete post by Id</h1>
  <form role="form" (submit)="deletePostById($event, _postId.value)">
    <div class="form-group">
      <label for="_postId">_postId</label>
      <input type="text" #_postId class="form-control" id="_postId" placeholder="_postId">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
